/*********************
VARIABLES
*********************/
/*************************
MIXINS
**************************/
/****************
BASE
****************/
body {
  padding-top: 70px;
}

/***************************
CAROUSEL
***************************/
.carousel-inner .item img {
  width: 60%;
}

@media (min-width: 320px) {
  .carousel-inner .item img {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .carousel-inner .item img {
    width: 60%;
  }
}

.carousel-caption {
  top: 0;
  bottom: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) {
  .carousel-caption {
    left: 50%;
    padding: 12px;
    right: 0;
  }
}

@media (min-width: 992px) {
  .carousel-caption {
    padding: 30px 15px;
    left: 60%;
  }
}

.carousel-caption h1 {
  color: #ca5d24;
  text-transform: capitalize;
}

@media (min-width: 320px) {
  .carousel-caption h1 {
    margin: 0 0 10px 0;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .carousel-caption h1 {
    font-size: 32px;
  }
}

.carousel-caption p {
  color: #6d6d6d;
}

@media (min-width: 320px) {
  .carousel-caption p {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 16px;
  }
}

.carousel-caption h1,
.carousel-caption p {
  text-shadow: none;
}
